:root{
    --title-color: #2196f3;
    --btn-color: #009688;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.game{
    background-color: #eee;
    min-height: 100vh;
}
.name{
    background-color: var(--title-color);
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.conatiner{
    max-width: 900px;
    margin: auto;
    text-transform: capitalize;
}
.messege{
    background-color: white;
    padding: 15px;
    text-align: center;
    margin: 15px 0;
    border-radius: 6px;
}
.messege span{
    font-weight: bold;
    color: var(--btn-color);
}
.messege span::before{
    content: '[ ';
}
.messege span::after{
    content: ' ]';
}
.start{
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-color);
    color: white;
    padding: 20px;
    text-align: center;
    margin: 15px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}
.start:hover{
    background-color: #05aa9a;
}
.the-word{
    text-align: center;
    font-size: 60px;
    color: var(--title-color);
    user-select: none;
}
.input{
    margin: 15px 0;
    width: 100%;
    padding: 15px;
    display: block;
    border: 3px solid var(--title-color);
    caret-color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    outline: none;
}
.uploud-word{
    background-color: white;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    border-radius: 6px;
}
.uploud-word div{
    background-color: var(--title-color);
    padding: 7px 10px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
.control{
    display: flex;
    margin: 10px 0;
    background-color: white;
    padding: 15px;
    justify-content: space-between;
    border-radius: 6px;
}
.control span{
    font-weight: bold;
    color: var(--btn-color);
}
.des{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    text-transform: capitalize;
    background-color: var(--title-color);
    padding: 15px;
    border-radius: 6px;
    color: white;
}
.choose-lvl{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:  15px;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 30%;
    gap: 10px;
} 
.choose-lvl .level{
    margin: 0 auto;
    font-weight: bold;
}
.choose-lvl .level:nth-child(2){
    transform: translateX(7px);
}
.choose-lvl .level input,
.choose-lvl .level label{
    cursor: pointer;
}
.finnish{
    font-weight: bold;
    padding: 15px;
    font-size: 40px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    height: 200px;
    border-radius: 4px;
    z-index: 2;
}
.finnish button{
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 4px;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}
.finnish .good{
    color: var(--title-color);
    display: block;
}
.finnish .bad{
    display: block;
    color: red;
}
.All-data{
    background-color: white;
    padding: 30px;
    border-radius: 4px;
}
.All-data .data{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.All-data .data p{
    flex: 1;
    font-size: 16px;
    transform: translateX(1px);
    line-height: 28px;
}
.All-data h2{
    transform: translateY(-30px);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: #2196f3;
    padding: 10px;
    border-bottom: 1px solid #2196f3;
}
.All-data .data span{
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
}
.All-data .data button{
    background-color: #009688;
    border: none;
    padding: 5px 10px;
    text-transform: capitalize;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}